<h1>Add Entry</h1>
<form action={% url 'projecttime:add_entry' %} method="POST">
{% csrf_token %}
<label for="user"> User: </label>
<select id="user" name="user">
    {% for user in users %}
        <option value="{{user}}"> {{user}} </option>
    {% endfor %}
</select>
<br>

<label for="project"> Project: </label>
<select id="project" name="project">
    {% for project in projects %}
        <option value="{{project}}""> {{project}} </option>
    {% endfor %}
</select>
<br>

<label for "Date">Date:</label>
<input type="Date" id="Date" name="date"/>
<br>

<label for="hour">Hour:</label>
<input type="number" name="hour"/>
<br>

<input type="submit"/>
</form>