<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}
    <script src="{% static 'jquery/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'projecttime/date_util.js' %}"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/4.1.3/css/bootstrap.min.css' %}">
    
    <!-- hide spin box in number input  -->
    <style>
        input[type='number'] {
        -moz-appearance:textfield;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    </style>

    <script>
        function getWeeklyReportFrom(entries) {
            // report uses project as key and uses an array with size 7 as value. 
            // This array represents hours spent from Monday to Sunday
            var report = {}
            for (var i = 0; i < entries.length; ++i) {
                var entry = entries[i];

                if (!(entry.project in report)) {
                    // create default hour list for new project
                    report[entry.project] = [0, 0, 0, 0, 0, 0, 0]
                }

                var date = new Date(entry.date);
                report[entry.project][ISOWeekDay(date)] += entry.hour;
            }
            return report;
        }

        function createProjectSelect() {
            var select = $("<select/>").addClass("custom-select");
            for (var project of window["projects"]) {
                select.append($("<option/>").val(project).text(project));
            }
            return select;
        }

        function fillReportTable(report) {
            var report_table = $("#report_table");
            report_table.children("tbody").remove();

            var body = $("<tbody/>")
            for (var project in report) {
                body.append(
                    $("<tr/>").append(
                        $("<td/>").append(createProjectSelect().val(project)),
                        $("<td/>").append(createHourInput().val(report[project][0])),
                        $("<td/>").append(createHourInput().val(report[project][1])),
                        $("<td/>").append(createHourInput().val(report[project][2])),
                        $("<td/>").append(createHourInput().val(report[project][3])),
                        $("<td/>").append(createHourInput().val(report[project][4])),
                        $("<td/>").append(createHourInput().val(report[project][5])),
                        $("<td/>").append(createHourInput().val(report[project][6]))));
            }

            body.append(createReportTableEmptyRow());
            report_table.append(body)
        }

        function populateWeekNumberSelect(maxWeek) {
            var year = (new Date()).getFullYear();
            for (var week = 1; week <= maxWeek; ++week) {
                var opText =  week + " @ " + shortString(getDateOfISOWeek(week, year));
                $("#week_number").append($("<option />").val(week).text(opText));
            }
        }

        function requestAndLoadEntries(user, from, to) {
            console.log("GET entries...")

            $.get("entries",
                { "user": user, "from": from, "to": to },
                function (data, status) {
                    console.log("GET entries: " + data)
                    var entries = JSON.parse(data);
                    var report = getWeeklyReportFrom(entries);
                    fillReportTable(report);
                });
        }

        function postEntries(entries, success, fail) {
            console.log("POST submit_entries ... params: " + JSON.stringify(entries))
            $.ajax({
                type: 'post',
                url: 'submit_entries',
                data: JSON.stringify(entries),
                contentType: "application/json; charset=utf-8",
                traditional: true,
                success: success
            }).fail(fail);
        }

        function extractTableData() {
            var tblData = []
            $("#report_table tbody tr").each(function (row, tr) {
                var row = $(tr).find("td").map(function (idx, td) {
                    return $(td).children().val();
                }).get();

                tblData.push(row);
            });

            return tblData;
        }

        function getEntriesFromTable() {
            var tableData = extractTableData();

            var entries = [];
            var currentYear = (new Date()).getFullYear();
            var week = $("#week_number").val();
            var fromDate = getDateOfISOWeek(week, currentYear);
            var user = $("#user_id").val();
            for (var row of tableData) {
                entries.push({ "user": user, "project": row[0], "date": shortString(plusDay(fromDate, 0)), "hour": row[1] });
                entries.push({ "user": user, "project": row[0], "date": shortString(plusDay(fromDate, 1)), "hour": row[2] });
                entries.push({ "user": user, "project": row[0], "date": shortString(plusDay(fromDate, 2)), "hour": row[3] });
                entries.push({ "user": user, "project": row[0], "date": shortString(plusDay(fromDate, 3)), "hour": row[4] });
                entries.push({ "user": user, "project": row[0], "date": shortString(plusDay(fromDate, 4)), "hour": row[5] });
                entries.push({ "user": user, "project": row[0], "date": shortString(plusDay(fromDate, 5)), "hour": row[6] });
                entries.push({ "user": user, "project": row[0], "date": shortString(plusDay(fromDate, 6)), "hour": row[7] });
            }

            return entries;
        }

        function initWeekNumberSelect() {
            var now = new Date();
            var currentWeek = getISOWeek(now);
            populateWeekNumberSelect(currentWeek);

            // attach #week_number "change" event handler which request entries from server
            $("#week_number").change(function () {
                var week = $(this).val()
                var from = getDateOfISOWeek(week, now.getFullYear())
                var to = new Date(from.getTime());
                to.setDate(to.getDate() + 6);

                // update date in the heading of report table
                $("#report_table thead").find(".thead-date").each(function (idx, td) {
                    $(td).text(shortString(plusDay(from, idx)));
                })
                
                // request entries from server
                requestAndLoadEntries($("#user_id").val(), shortString(from), shortString(to));
            });

            // select current week and trigger "change" event
            $("#week_number").val(currentWeek).change();
        }

        function initMoreEntry() {
            $("#more_entry").click(function (event) {
                event.preventDefault();
                $("#report_table tbody").append(createReportTableEmptyRow());
            });
        }
        
        function createHourInput()
        {
            return $("<input/>").addClass("form-control")
                                .attr("type", "number")
                                .attr("min", 0)
                                .attr("max", 24)
                                .attr("step", 0.1);
        }

        function createReportTableEmptyRow() {
            var row = $("<tr/>").append(
                $("<td/>").append(createProjectSelect()),
                $("<td/>").append(createHourInput()),
                $("<td/>").append(createHourInput()),
                $("<td/>").append(createHourInput()),
                $("<td/>").append(createHourInput()),
                $("<td/>").append(createHourInput()),
                $("<td/>").append(createHourInput()),
                $("<td/>").append(createHourInput()));

            return row;
        }

        function initSubmitButton() {
            $("#submit").click(function () {
                var entries = getEntriesFromTable();
                postEntries(entries, 
                /*success*/ function () {
                                indicateSubmitStatus(true)
                                // simulate user selects week number to refetch data from server
                                $("#week_number").change();
                            },
                   /*fail*/ function()
                            {
                                indicateSubmitStatus(false);
                            });
            });
        }

        function indicateSubmitStatus(success)
        {
            console.log("indicate submit status:" + success);
            var style = "";
            var message = ""
            if (success)
            {
                style = "alert-success";
                message = "submit succeed";
               
            }
            else
            {
                style = "alert-danger";
                message = "submit failed";
            }

            // apply alter style
            $("#submit_result").addClass(style).text(message).show().delay(1000).fadeOut(
                "fast", 
                function()
                {
                    // remove alter style after hidden
                    $("#submit_result").removeClass(style).text("");
                });
        }

        function getProjectList() {
            // WORKAROUND: use synchronous call to get project list from server. 
            // This will fix the issue that project isn't shown on report table. 
            // This is because the response for GET-entries might arrive earlier than GET-projects
            // even though GET-projects request is issued firstly. In this case, the report table 
            // will be filled while the project list is not available yet.
            console.log("GET projects synchronously...")
            $.ajax({
                type: 'GET',
                url: 'projects',
                async: false,
                success: function (data) {
                    console.log("GET projects: " + data)
                    window['projects'] = JSON.parse(data)
                }
            });
        }

        $(document).ready(function () {
            getProjectList();
            initWeekNumberSelect();
            initSubmitButton();
            initMoreEntry();
        });
    </script>

    <title>Hello, world!</title>
</head>

<body>
    <div class="container">
        <h1 class="text-right"> Hello, {{ user_name }}</h1>
        <p><a href="{% url 'logout' %}">logout</a></p>
        
        <input type="hidden" id="user_id" value="{{user_id}}">

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="week_number">Week</label>
                <select class="custom-select" id="week_number">
                </select>
            </div>
            <button type="button" class="btn btn-dark" id="more_entry">More Item</button>
            <button type="button" class="btn btn-primary" id="submit">Submit</button>
        </div>

        <table class="table table-striped table-sm" id="report_table">
            <thead>
                <tr>
                    <th scope="col"> Project </th>
                    <th scope="col"> Mon. <small class="thead-date"></small> </th>
                    <th scope="col"> Tue. <small class="thead-date"></small> </th>
                    <th scope="col"> Wed. <small class="thead-date"></small> </th>
                    <th scope="col"> Thu. <small class="thead-date"></small> </th>
                    <th scope="col"> Fri. <small class="thead-date"></small> </th>
                    <th scope="col"> Sat. <small class="thead-date"></small> </th>
                    <th scope="col"> Sun. <small class="thead-date"></small> </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <div id="submit_result" class="alert" role="alert">
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'popper/1.14.6/popper.js' %}"></script>
    <script src="{% static 'bootstrap/4.1.3/js/bootstrap.min.js' %}"></script>
</body>

</html>